@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/*
  Google Fonts
*/
@font-face {
  font-family: "Rubik", sans-serif;
  src: url("../assets/fonts/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Rubik", sans-serif;
  src: url("../assets/fonts/Rubik-Medium.ttf");
}

/*
 Variables
*/

// Color Theme
$SoftBlue: hsl(231, 69%, 60%); // Primary
$SoftRed: hsl(0, 94%, 66%);
$Grayish-Blue: hsl(229, 8%, 60%); // Neutral
$Very-Dark-Blue: hsl(229, 31%, 21%);

// Fonts
$Main-Fonts: "Rubik", sans-serif;

// Theming-Color
$bookmark-theme-colors: (
  "softBlue": $SoftBlue,
  "softRed": $SoftRed,
  "grayishBlue": $Grayish-Blue,
  "veryDarkBlue": $Very-Dark-Blue,
);
// Theming Container Breakpoints
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1260px,
  xxl: 1440px,
);
// Theming Fonts

// Customization
$theme-colors: map-merge($bookmark-theme-colors, $theme-colors);

@import "~bootstrap/scss/bootstrap"; // Init the bootstrap with new custom/theming that we do
