/*
  Google Fonts
*/

@font-face {
  font-family: "Rubik", sans-serif;
  src: url("../assets/fonts/Rubik-Regular.ttf");
  font-family: "Rubik";
  font-weight: 400;
}
@font-face {
  font-family: "Rubik", sans-serif;
  src: url("../assets/fonts/Rubik-Medium.ttf");
  font-family: "Rubik";
  font-weight: 500;
}
