@import "./fonts";
@import "./variable";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Body Color
$body-color: $Grayish-Blue;

// Headings
$headings-color: $black;

// Custom Theming Mergin Colors
$theme-colors: map-merge($bookmark-theme-colors, $theme-colors);

// Shadow
$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.2);
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.2);

// Custom Theming Container Max-width
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1260px,
  xxl: 1440px,
);

// Custom Theming Fonts
$input-btn-font-family: $Main-Fonts;
$font-family-sans-serif: $Main-Fonts;

// Custom Theming Buttons
$btn-border-radius: 5px;

//  Nav Link
$nav-link-color: $black;
$nav-link-hover-color: $SoftRed;
$navbar-light-hover-color: $SoftRed;

// Navbar Toggler Icon
$navbar-light-toggler-border-color: rgba($white, 0) !important;
$navbar-toggler-focus-width: none;

$navbar-light-toggler-icon-bg-active: url("../assets/icons/icon-close.svg");

@import "~bootstrap/scss/bootstrap.scss";
