@import "../../scss/mixins";
@import "../../scss/variable";

.banner-section-container {
  .banner-col-1 {
    position: relative;
    overflow: hidden;
    @include max-breakpoint(xxl) {
      padding: 70px 0 0 0;
    }
    @include min-breakpoint(xxl) {
      padding: 120px 0 0 0;
      position: absolute;
      right: 0;
    }

    &::after {
      content: "";
      width: 75%;
      height: 50%;
      background-color: $SoftBlue;
      position: absolute;
      bottom: 25%;
      right: 30%;
      transform: translate(50%, 50%);
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      z-index: -1;
    }
  }
  .banner-col-2 {
    @include breakpoint(sm) {
      padding: 50px 0 0;
    }
    @include breakpoint(md) {
      padding: 50px 0 0;
    }
    @include breakpoint(lg) {
      padding: 50px 0 0;
    }
    @include breakpoint(xl) {
      padding: 135px 0 0 0;
    }
    @include breakpoint(xxl) {
      padding: 135px 0 0 0;
    }
    @include min-breakpoint(xxl) {
      padding: 205px 0 0 0;
    }
  }
}
